{
  email info@gard018.com
}

app.gard018.com {
  encode zstd gzip

  request_body {
    max_size 10MB
  }

  reverse_proxy app:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}

